// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023-2024 NXP
 */

#include "../dts/upstream/src/arm64/freescale/imx95-19x19-evk.dts"
#include "imx95-u-boot.dtsi"
#include "imx95-19x19-evk-local.dtsi"
